.App {
  text-align: center;
}

body {
  background-color: #faf0e4;
}

*{
  box-sizing: border-box;
}

.nav-container {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(75, 73, 73);
}


.nav-container li {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #f26627;
  text-align: center;
  padding: 25px 60px;
  text-decoration: none;
}

.nav-container a {
  text-decoration: none;
}

.nav-container li:hover {
  background-color: rgb(53, 51, 51);
  font-size: 24px;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 45px;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.kravia-link:hover{
  height: 125px;
  width: auto;
}

.content{
 border: 5px solid #f26627;
 margin: 15px;
 margin-left: 15%;
 margin-right: 15%;
 background-color: rgb(255, 255, 255, 0.55);
}



/* .body {
  background-color: #282c34;
} */

